.menu-item {
  font-weight: bold;
  color: #00698f;
}

h1.heading {
  font-family: "Arial", sans-serif 24px;
}

h1 {
  font-family: 'Ultra';
}

<div class="alert alert-success" style="font-size: 24px; word-spacing: 5px;">
    {{ message }}
</div>