<!-- Footer -->
<footer class="bg-info text-center text-lg-start mt-4">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Контактная информация</h5>
                <p>
                    Адрес: Москва, ул. Примерная, д. 1<br>
                    Телефон: +7 123 456 7890<br>
                    Email: example@example.com
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Социальные сети</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Facebook</a></li>
                    <li><a href="#" class="text-dark">Twitter</a></li>
                    <li><a href="#" class="text-dark">Instagram</a></li>
                    <li><a href="#" class="text-dark">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3">
        © 2024 My Django Site
    </div>
</footer>