<!DOCTYPE html>
{% extends 'my_flower_del/layout.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Flower Box</title>
    {% endblock %}

</head>
<body>
    {% block content %}
        <div class="container py-2">
            <h1 class="mb-4 text-center text-primary">Добро пожаловать в Flower Box!</h1>
        </div>
        <!-- Карточки товаров -->
        <div class="container mt-2">
            <div class="row mt-4">
                {% if products %}
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                {% else %}
                                    <p>Изображение не загружено</p>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">Цена: {{ product.price }} ₽</p>
                                    <a href="{% url 'my_flower_del:product_detail' product.id %}" class="btn btn-outline-info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Нет доступных товаров.</p>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</body>
</html>