<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход на сайт</title>
</head>
<body>
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-danger">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>

    </div>

</body>
</html>